.nav{
    /* height: 80px; */
    height: 10vh;
    background-color:pink;
    margin: -10px;
    box-shadow: 5px 10px 15px;
}

.nav h1 {
    float: left;
    line-height: 50px;
    margin-left: 10px;
}
/* .nav img{
    margin:10px;
    height: 10vh;
} */
.nav ul{
    float:right ;
    list-style-type: none;
    margin-right:10px;
}
.nav ul li{
    float: left;
    /* line-height: 50px; */
    line-height: 10vh;
    margin-right:10px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav ul li a:hover{
    color: chartreuse;
}
.nav ul li a:active{
    color: purple;
}
.nav ul li a:visited{
    color: white;
}
.content{
    clear: both;
    background-color: white;
    /* height: 515px; */
    height: 70vh;
    margin: -10px;
}
.card1,.card2{
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    margin-top: 15vh;
    border-radius: 8px;
    /* box-shadow: 1px 1px 3px black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card1{
    float: left;
    margin-left:  170px;
}
.card2{
    float: right;
    margin-right: 170px;
}

.footer{
    background-color: black;
    /* height: 100px; */
    height: 20vh;
    margin: -10px;
}